html,
body {
  margin: 0;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #523638;
  padding: 10px 5px;
  box-sizing: border-box;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

.header__title {
  margin: 0;
  font-size: 18px;
}

.header__edit,
.header__title {
  margin-right: auto;
}

.chat {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat__text {
  flex-grow: 2;
  margin-left: 20px;
}

.chat__username {
  font-weight: 600;
  display: block;
}

.chat__preview,
.chat__date {
  color: rga(0, 0, 0, 0.5);
}

.chat__date {
  font-size: 12px;
}

.footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
  padding-bottom: 0px;
  background-color: #f8f6f8;
  bottom: 0;
  box-sizing: border-box;
  font-weight: 300;
}

.footer__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cfcecf;
  padding: 5px 50px;
}

.footer__text {
  margin-top: 5px;
  font-size: 15px;
}

.action-btn {
  width: 60px;
  height: 60px;
  background-color: #fee84f;
  color: #513934;
  position: fixed;
  bottom: 100px;
  right: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
